<footer class="border-top footer text-muted">
    <div class="container mt-3">
        <a asp-area="" asp-controller="Pizza" asp-action="Contact" class="btn btn-danger">Contattaci</a>
    </div>
</footer>
